* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #c1c1c1;
  margin: 10%;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.formulario {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formulario input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 8px 16px;
  background-color: #284ca7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #1d3777;
}

.lista-contatos {
  margin-top: 20px;
}

.contato-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #eae7e7;
  border-radius: 4px;
  margin-bottom: 10px;
}

.contato-item-info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-right: 5px;
}

.contato-item-info span {
  margin: 4px;
}

.contato-item button {
  width: 30%;
  background-color: #dc3545;
}

.contato-item button:hover {
  background-color: #a21c2a;
}
